Dark((name: "cosmic-dark",bright_red: "#F2B8B5FF",bright_green: "#81C995FF",bright_orange: "#FFB77CFF",gray_1: "#141218FF",gray_2: "#0F0D13FF",neutral_0: "#000000FF",neutral_1: "#1D1B20FF",neutral_2: "#2B2930FF",neutral_3: "#3B383EFF",neutral_4: "#47454CFF",neutral_5: "#5F5C64FF",neutral_6: "#78757DFF",neutral_7: "#928F97FF",neutral_8: "#ADA9B1FF",neutral_9: "#C9C5CDFF",neutral_10: "#FFFFFFFF",accent_blue: "#D0BCFFFF",accent_indigo: "#CCC2DCFF",accent_purple: "#EFB8C8FF",accent_pink: "#FFB1C8FF",accent_red: "#F2B8B5FF",accent_orange: "#FFB77CFF",accent_yellow: "#E3CA3EFF",accent_green: "#81C995FF",accent_warm_grey: "#948F99FF",ext_warm_grey: "#AEAEB2FF",ext_orange: "#FF9F0AFF",ext_yellow: "#FFD60AFF",ext_blue: "#64D2FFFF",ext_purple: "#BF5AF2FF",ext_pink: "#FF375FFF",ext_indigo: "#5E5CE6FF",))