Light((name: "cosmic-light",bright_red: "#B3261EFF",bright_green: "#2E7D32FF",bright_orange: "#B25000FF",gray_1: "#FEF7FFFF",gray_2: "#F3EDF7FF",neutral_0: "#FFFFFFFF",neutral_1: "#FEF7FFFF",neutral_2: "#E6E1E9FF",neutral_3: "#C9C5CDFF",neutral_4: "#ADA9B1FF",neutral_5: "#928F97FF",neutral_6: "#78757DFF",neutral_7: "#5F5C64FF",neutral_8: "#47454CFF",neutral_9: "#302D34FF",neutral_10: "#000000FF",accent_blue: "#6750A4FF",accent_indigo: "#625B71FF",accent_purple: "#7D5260FF",accent_pink: "#BA1A5FFF",accent_red: "#B3261EFF",accent_orange: "#B25000FF",accent_yellow: "#8F6F00FF",accent_green: "#2E7D32FF",accent_warm_grey: "#7A757EFF",ext_warm_grey: "#A79A93FF",ext_orange: "#FF8F3CFF",ext_yellow: "#FFD84DFF",ext_blue: "#34C1E8FF",ext_purple: "#B869E0FF",ext_pink: "#F56FB0FF",ext_indigo: "#6E8BFFFF",))