Light((name: "cosmic-light",bright_red: "#D9373CFF",bright_green: "#12854CFF",bright_orange: "#D9580CFF",gray_1: "#F2F5F7FF",gray_2: "#E4E9EDFF",neutral_0: "#FFFFFFFF",neutral_1: "#F6F8FAFF",neutral_2: "#D8E0E6FF",neutral_3: "#B6C2CBFF",neutral_4: "#95A3AEFF",neutral_5: "#74828DFF",neutral_6: "#5A6670FF",neutral_7: "#414A53FF",neutral_8: "#272E35FF",neutral_9: "#12161AFF",neutral_10: "#000000FF",accent_blue: "#0A76B7FF",accent_indigo: "#5A67DBFF",accent_purple: "#9E50C6FF",accent_pink: "#D63F83FF",accent_red: "#D63535FF",accent_orange: "#E05F10FF",accent_yellow: "#B45309FF",accent_green: "#11845CFF",accent_warm_grey: "#7A6A63FF",ext_warm_grey: "#A79A93FF",ext_orange: "#FF8F3CFF",ext_yellow: "#FFD84DFF",ext_blue: "#34C1E8FF",ext_purple: "#B869E0FF",ext_pink: "#F56FB0FF",ext_indigo: "#6E8BFFFF",))